/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2016, 6:14:27 PM
    Author     : swathi
*/
@charset "utf-8";
/* CSS Document */

.bar
{
 width:40px;
}

#right
{
    float:right;
    margin-right:20px;
    background:#06F;
}
